# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables (Secrets)
.env

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# OS Files
.DS_Store
Thumbs.db
